:root{
  --color_primario:#F25C05;
  --color_secundario:#F2A81D;
  --color_terciario:#BFBC8F;
}

body{
  height: 100vh;
}

div .form-login{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.row-padre {
  background-color: var(--color_primario) ;
  padding-bottom: 8px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.row-platos {
  justify-content: center;
}

.titulo {
  font-size: 20px;
}

form {
  background-color: var(--color_primario);
  box-shadow: 5px 5px 5px #251e5157;
}

.color-overlay{
  position: absolute;
  height: 100%;
  width: 100%;
  mix-blend-mode: normal;
}

.nav-header{
  background-color: var(--color_primario)!important;
  display:flex;
  width: 100%;
  justify-content: space-between;
}

.navbar h1{
  color: var(--color_terciario);
  text-align: center;
  justify-content: center;
}

.card {
  background-color: var(--color_secundario)!important;
}

.botones-ordenes {
  position: absolute;
  bottom: 0;
  justify-content: space-between;
}

.cartelDisable {
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  width: 50vw;
  height: 50vh;
  padding: 10px;
}

.normalize {
  width: 100vw;
  height: 100vh;
  padding: 10px;
  object-fit: cover;  
}